input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#container {
  width: 100%;
  padding: 50px 30% 0;
  box-sizing: border-box;
}

#containerChart{
  width: 100%;
  padding: 50px 20% 0;
  box-sizing: border-box;
}

h1, h2{
  color: #008D53
}

#containerSolicitacao {
  width: 100%;
  padding: 50px 20% 0;
  box-sizing: border-box;
}

th{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.textoPendente{
  color:rgb(255, 106, 0) !important;
}

#btndetalhes{
  background-color: transparent;
  border: none;
  color:#008D53;
  font-weight: bold;
}

#tituloSolicitacao{
  background-color: #008D53;
  color:#F9EC00;
  padding: 20px;
}

.botao-paginas {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: #008D53;
  border: 1px solid #008D53;
  color: #F9EC00;
  border-radius: 50px;
  padding: 20px 54px;
  margin-right: 50px;
  cursor: pointer;
  width: 250px;
}


.botao-paginas:hover{
  background-color: transparent;
  color: #008D53;
}

.botao-paginas2 {
  position: fixed;
  bottom: 100px;
  right: 10px;
  background-color: #008D53;
  border: 1px solid #008D53;
  color: #F9EC00;
  border-radius: 50px;
  padding: 20px 54px;
  margin-right: 50px;
  cursor: pointer;
  width: 250px;
}


.botao-paginas2:hover{
  background-color: transparent;
  color: #008D53;
}
  
  .error{
    color:red
  }

  select{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #008D53;
  }

  option{
    font-size: 16px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    padding:20px;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    text-align: left;
    color: #008D53;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }
  
  .form-group #btn{
      background-color: #008D53;
      border: 0;
    color: #F9EC00;
  }
  
  .form-group-links {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
  }
  
  .form-group-links a {
    font-size: 14px;
    color: #008D53;
    text-decoration: none;
  }
  
  .form-group-links span {
    margin: 0 10px;
  }

  #filterButton{
    background-color: #009054;
    border: 1px solid;
    border-radius: 15px;
    color: white;
    width: 100px;
    margin: 10px;
    padding: 10px;
  }

  #filterButton:hover{
    background-color: #008D53;
    color: #F9EC00;
  }

  #exportButton{
    background-color: #009054;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #F9EC00;
    width: 200px;
    margin: 40px;
    padding: 10px;
  }

  #exportButton:hover{
    background-color: #ffffff;
    border: 1px solid #009054;
    border-radius: 15px;
    color: #009054;
    width: 200px;
    margin: 40px;
    padding: 10px;
  }

  @media (max-width: 900px)
{
  #container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  #containerChart{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  
  .botao-paginas {
    position:static;
    bottom: 20px;
    right: 10px;
    background-color: #008D53;
    border: 1px solid #008D53;
    color: #F9EC00;
    border-radius: 50px;
    padding: 20px 54px;
    margin-right: 0px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  
  .botao-paginas:hover{
    background-color: transparent;
    color: #008D53;
  }

  .botao-paginas2 {
    position: static;
    margin-bottom: 10px;

    bottom: 100px;
    right: 10px;
    background-color: #008D53;
    border: 1px solid #008D53;
    color: #F9EC00;
    border-radius: 50px;
    padding: 20px 54px;
    margin-top: 20px;
    margin-right: 0px;
    cursor: pointer;
    width: 250px;
  }
  
  
  .botao-paginas2:hover{
    background-color: transparent;
    color: #008D53;
  }
    
}